{layout ../@layout.latte}
{block content}
	<article class="article">
		<h1 class="title underline">{$page->name}</h1>
		<div class="container">
			{block subcontent}
		    	{$page->content|noescape}
		    	{$page->content_continuation|noescape}
		  	{/block}
		</div>
	</article>
{/block}