# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)


# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# use HTTPS
	# RewriteCond %{HTTPS} !on
	# RewriteRule .? https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\.(?!well-known/) - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map)$ index.php [L]

	Redirect 301 /cenik.htm /kontejnery.html
	Redirect 301 /kontejnery-praha-13 /mapa-pristaveni-kontejneru-praha
	Redirect 301 /kontejnery-praha-16 /mapa-pristaveni-kontejneru-praha
	Redirect 301 /kontejnery-praha-17 /mapa-pristaveni-kontejneru-praha
	Redirect 301 /kontejnery-praha-22 /mapa-pristaveni-kontejneru-praha
	Redirect 301 /benefity-u-siegl-sro /o-nas
	Redirect 301 /nejcastejsi-dotazy-ridicu /o-nas
	Redirect 301 /rozhovory-s-ridici /o-nas
	Redirect 301 /videa-ridicu /o-nas
	Redirect 301 /personalni-oddeleni /kontakty.htm
	Redirect 301 /ridicsky-prukaz-c-na-nakladak.htm /zamestnani.htm
	Redirect 301 /pro-firmy-subjekty /poptavka
	Redirect 301 /fakta-cisla-vize /o-nas
	Redirect 301 /struktura-spolecnosti /o-nas
	Redirect 301 /press-kit /kontakty,htm
	Redirect 301 /cenik-kontejneru /kontejnery.html
	Redirect 301 /cenik-ke-stazeni /kontejner.htm
	Redirect 301 /fakturacni-udaje /kontakty.htm
	Redirect 301 /certifikace /kontakty.htm
	Redirect 301 /hledame-asistentku-reditele /kariera
	Redirect 301 /kalkulace-firmy-24-hodin /poptavka
	Redirect 301 /brigada-s-ubytovanim-praha /kariera
	Redirect 301 /vedouci-administrativy-ekonomickeho-useku /kariera
	Redirect 301 /hladame-vodica-nakladiaku /kariera
	Redirect 301 /kontejnerova-doprava-odvoz-odpadu-suti /kariera
	Redirect 301 /odvoz-uklid-demolicniho-odpadu-zeminy /sluzby
	Redirect 301 /prodej-dovoz-stavebnich-materialu /materialy.tm
	Redirect 301 /proc-siegl-s-r-o /o-nas
	Redirect 301 /areal-siegl-s-r-o /kontakty.htm
	Redirect 301 /dispecink-objednavky /kontakty.htm
	Redirect 301 /tym-siegl-2 /tym-siegl
	Redirect 301 /flexibilne-v-noci /sluzby
	Redirect 301 /poptavka-firmy /poptavka
	Redirect 301 /dispecink /kontakty.htm
	Redirect 301 /komunikace-s-vedenim /
	Redirect 301 /certifikace /o-nas
	Redirect 301 /kalkulace-firmy-24-hodin-2 /poptavka
	Redirect 301 /nasi-ridici /tym-siegl
	Redirect 301 /terenni-prace /sluzby
	Redirect 301 /jak-kontejner-objednat /
	Redirect 301 /uploads/siegl/obchodni-podminky.pdf /
	Redirect 301 /garance /
	Redirect 301 /hledame-dispecera /kariera
	Redirect 301 /zk /
	Redirect 301 /vyklizeni-velkych-objektu /sluzby
	Redirect 301 /vykopy-na-bazeny-na-klic /vykopove-zemni-prace-mensiho-rozsahu
	Redirect 301 /hlavni-uroven /
	Redirect 301 /vysledky-vyhledavani /
	Redirect 301 /newsletter-ok /
	Redirect 301 /ochutnejte-ok /
	Redirect 301 /404 /
	Redirect 301 /sleva-300-kc-prvni-kontejner /
	Redirect 301 /odhlaseni-uspesne /
	Redirect 301 /odhlaseni-neuspesne /
	Redirect 301 /ebook-jak-usetrit-za-kontejner /
	Redirect 301 /ebook-6-zakladnich-rad-jak-objednat-kontejner /
	Redirect 301 /objednavka-ok /
	Redirect 301 /dekujeme-za-tvuj-zajem /
	Redirect 301 /formular-firemni-zakazniky-byl-odeslan /
	Redirect 301 /poptavka-ok /
	Redirect 301 /ppc-bannery /
	Redirect 301 /pravidla-uziti-webu /
	Redirect 301 /dekujeme /
	Redirect 301 /souhlasim /
	Redirect 301 /objednavka-kontejneru-ok /
	Redirect 301 /poptavka-siegl-ok /
	Redirect 301 /kontejner-nasut-akce /
	Redirect 301 /aktualne/ /aktuality.htm

</IfModule>