{block buttons}
	        <a class="btn btn-primary" n:href=":Admin:Zones:add"><i class="fas fa-plus"></i> Přidat zónu</a>
{/block}

{block content}

	      <div class="head">
	        <h1 class="title">Zóny</h1>
	      </div>
	      {control zones}
{/block}
