#calendarBlock{
}
nav.calendarNav{
	width: 100%;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}
nav.calendarNav select{
	font-size: 30px;
	margin-top: -10px;
}

#calendarBlock .calendar{
	width: 100%;
	border-collapse: collapse;
}
#calendarBlock .calendar .row{
	min-height: 80px;
	height: auto;
}
#calendarBlock .calendar .row.head{
	min-height: 0;
	margin: 0 -15px;
}
#calendarBlock .calendar .rect{
	display: block;
	float: left;
	width: 13%;
	background: #eee;
	color: #2986e2;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: auto;
	padding-bottom: 3px;
	margin: 0;
}
#calendarBlock .calendar .rect.head{
	text-align: center;
	background: #000;
	color: white;
	font-weight: bold;
}
#calendarBlock .calendar .rect.content{
	font-size: 0.7em;
	font-weight: bold;
}
#calendarBlock .calendar .rect.content a{
	margin-left: 3px;
	padding-left: 2px;
	margin-top: 3px;
	line-height: 15px;
	display: block;
}
#calendarBlock .calendar .rect.blank{
	background: transparent;
	color: white;
}
#calendarBlock .calendar .rect span{
	display: block;
	font-size: 0.8em;
	padding-left: 5px;
}

.calCategory{
	margin-bottom: 3px;
	font-size: 0.8em;
	padding-left: 25px;
	background: transparent url('/images/active.png') 0 50% no-repeat;
}
.calCategory.inactive{
	background: transparent url('/images/deactive.png') 0 50% no-repeat;
}
.calCategory a{
	padding: 5px 10px;
}

span.eventDate{
	font-size: 0.7em;
	font-weight: bold;
}
a.closeEventRef{
	font-size: 0.8em;
	margin-bottom: 10px;
}

@media (max-width: 767px) {
  .row.head,
  #calendarBlock .calendar .rect.blank {
    display: none;
  }
  #calendarBlock .calendar .rect.content {
  	height: auto!important;
  	width: 100%;
  	float: none;
  }
  #calendarBlock .calendar .row{
	  min-height: 0;
  }
  #calendarBlock .calendar .rect.content a{
	  margin-bottom: 5px;
  }
}
