{block content}

	<div class="content">
		<div class="head">
			<h1 class="title">Autorizace Google</h1>
			<div class="clearfix"></div>
		</div>

			<p>Autorizační heslo získáte na <a href="{$authUrl}" class="btn btn-sm btn-info" target="_blank">této adrese</a></p>
			{control authorizeForm}
	</div>


{/block}
