<html>
<head>
	<title>Administrace</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" href="{$baseUri}/css/common/bootstrap.min.css">
	<!-- Icomoon Font Icons css -->
	<link rel="stylesheet" href="{$baseUri}/fonts/style.css">
	<!-- Main css -->
	<link rel="stylesheet" href="{$baseUri}/css/common/main.css">
	<!-- *************
		************ Vendor Css Files *************
	************ -->
	<!-- DateRange css -->
	<link rel="stylesheet" href="{$baseUri}/vend/daterange/daterange.css" />	


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <style>
    .datagrid-column-header-additions{
		display: none;
    }
    </style>
</head>

<body>

	<!-- Loading starts -->
	<div id="loading-wrapper" n:if="false">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- Loading ends -->

	<!-- Header start -->
	<header class="header">
		<div class="logo-wrapper">
			<a href="index.html" class="logo">
				<img src="img/logo.png" alt="Siegl logo" />
			</a>
			<a n:if="false" href="#" class="quick-links-btn" data-toggle="tooltip" data-placement="right" title="" data-original-title="Quick Links">
				<i class="icon-menu1"></i>
			</a>
		</div>
		<div class="header-items">
			<!-- Custom search start -->
			<div class="custom-search" n:if="false">
				<input type="text" class="search-query" placeholder="Search here ...">
				<i class="icon-search1"></i>
			</div>
			<!-- Custom search end -->

			<!-- Header actions start -->
			<ul class="header-actions">
				<li class="dropdown" n:if="false">
					<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
						<i class="icon-box"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
						<div class="dropdown-menu-header">
							Tasks (05)
						</div>	
						<ul class="header-tasks">
							<li>
								<p>#48 - Dashboard UI<span>90%</span></p>
								<div class="progress">
									<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
										<span class="sr-only">90% Complete (success)</span>
									</div>
								</div>
							</li>
							<li>
								<p>#95 - Alignment Fix<span>60%</span></p>
								<div class="progress">
									<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (success)</span>
									</div>
								</div>
							</li>
							<li>
								<p>#7 - Broken Button<span>40%</span></p>
								<div class="progress">
									<div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (success)</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="dropdown" n:if="false">
					<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
						<i class="icon-bell"></i>
						<span class="count-label">8</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
						<div class="dropdown-menu-header">
							Notifications (40)
						</div>
						<ul class="header-notifications">
							<li>
								<a href="#">
									<div class="user-img away">
										<img src="img/user.png" alt="User" />
									</div>
									<div class="details">
										<div class="user-title">Abbott</div>
										<div class="noti-details">Membership has been ended.</div>
										<div class="noti-date">Oct 20, 07:30 pm</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="user-img busy">
										<img src="img/user.png" alt="User" />
									</div>
									<div class="details">
										<div class="user-title">Braxten</div>
										<div class="noti-details">Approved new design.</div>
										<div class="noti-date">Oct 10, 12:00 am</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="user-img online">
										<img src="img/user.png" alt="User" />
									</div>
									<div class="details">
										<div class="user-title">Larkyn</div>
										<div class="noti-details">Check out every table in detail.</div>
										<div class="noti-date">Oct 15, 04:00 pm</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="dropdown">
					<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
						<span class="user-name">{$user->identity->login}</span>
						<span class="avatar">{$user->identity->login[0]}<span n:if="false" class="status busy"></span></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
						<div class="header-profile-actions">
							<a n:href="logout!"><i class="icon-log-out1"></i> Odhlásit</a>
						</div>
					</div>
				</li>
				<li n:if="$user->identity->role==9">
					<a n:href=":Admin:Settings:" data-toggle="tooltip" data-placement="left" title="" data-original-title="Nastavení">
						<i class="icon-list"></i>
					</a>
				</li>
			</ul>						
			<!-- Header actions end -->
		</div>
	</header>
	<!-- Header end -->

	<!-- Screen overlay start -->
	<div class="screen-overlay"></div>
	<!-- Screen overlay end -->

		<!-- Container fluid start -->
		<div class="container-fluid">


			<!-- Navigation start -->
			<nav class="navbar navbar-expand-lg custom-navbar">

				<!-- Note - Toggle Button will display if the screen size is max-width 992px -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WafiAdminNavbar" aria-controls="WafiAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i></i>
						<i></i>
						<i></i>
					</span>
				</button>
				<div class="collapse navbar-collapse" id="WafiAdminNavbar">
		            <ul class="navbar-nav mr-auto">
		                <li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle" href="#" id="catalogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      Obsah
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="catalogDropdown">
		                    	<a class="nav-link" n:href=":Admin:Pages:default">Správa stránek</a>
		                    	<a class="nav-link" n:href=":Admin:Pages:default 1">Správa služeb na úvodní stránce</a>
		                    </div>
		                </li>
		                <li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle" href="#" id="catalogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      Katalog
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="catalogDropdown">
		                      <a class="dropdown-item" n:href=":Admin:Categories:default">Kategorie kontejnerů</a>
		                      <a class="dropdown-item" n:href=":Admin:Products:default">Kontejnery</a>
		                      <div class="dropdown-divider"></div>
		                      <a class="dropdown-item" n:href=":Admin:CategoriesM:default">Kategorie materiálů</a>
		                      <a n:if="false" class="dropdown-item" n:href=":Admin:Products:default">Materiály</a>
		                      <div class="dropdown-divider"></div>
		                      <a class="dropdown-item" n:href=":Admin:Attributes:default">Atributy</a>
		                    </div>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Pages:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Languages:translates 'cz'">Textové konstanty</a>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Admins:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Admins:default">Správci</a>
		                </li>
		                
						{*
		                <li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle" href="#" id="reservationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      Zakázky
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="reservationsDropdown">
		                      <a class="dropdown-item" n:href=":Admin:Projects:default">Přehled zakázek</a>
		                      <div class="dropdown-divider"></div>
		                      <a class="dropdown-item" n:href=":Admin:Projects:add">Vytvořit zakázku</a>
		                    </div>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Orders:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Orders:default">Objednávky tisku</a>
		                </li>
		                <li class="nav-item dropdown"n:if="false">
		                    <a class="nav-link dropdown-toggle" href="#" id="reservationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      Objednávky tisku
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="reservationsDropdown">
		                      <a class="dropdown-item" n:href=":Admin:Orders:default">Přehled objednávek</a>
		                      <div class="dropdown-divider" n:if="false"></div>
		                      <a class="dropdown-item" n:href=":Admin:Orders:add" n:if="false">Vytvořit objednávku</a>
		                    </div>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Vouchers:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Vouchers:default">Slevové kupóny</a>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:OrderStatuses:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:OrderStatuses:default">Stavy objednávek tisku</a>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Slider:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Slider:default">Slider</a>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Admins:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Admins:default">Správci</a>
		                </li>
		                <li class="nav-item {ifCurrent :Admin:Sizes:default}active{/ifCurrent}">
		                    <a class="nav-link" n:href=":Admin:Sizes:default">Rozměry a ceny</a>
		                </li>
						*}
		            </ul>
				</div>
			</nav>
			<!-- Navigation end -->


			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">


				<!-- Page header start -->
				<div class="page-header">
					{if isset($breadcrumbs)&&count($breadcrumbs)>0}
						<ol class="breadcrumb">
							{foreach $breadcrumbs as $breadcrumb}
								<li class="breadcrumb-item {last}active{/last}">
									{*if !$iterator->first}<span class="divider">/</span>{/if*}
									{if $breadcrumb['link']!='' && !$iterator->last}
										<a href="{$breadcrumb['link']|noescape}" title="">{$breadcrumb['title']}</a>
									{else}
										<span>{$breadcrumb['title']}</span>
									{/if}
								</li>
							{/foreach}
						</ol>
					{/if}

					<ul class="app-actions" n:if="false">
						<li>
							<a href="#" id="reportrange">
								<span class="range-text"></span>
								<i class="icon-chevron-down"></i>	
							</a>
						</li>
						<li>
							<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print">
								<i class="icon-print"></i>
							</a>
						</li>
						<li>
							<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download CSV">
								<i class="icon-cloud_download"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Page header end -->


				<!-- Content wrapper start -->
				<div class="content-wrapper">
				    {snippet flashmessages}
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						    <div id="flashBlock">
							    <div n:foreach="$flashes as $flash" class="flashMessage  alert alert-success {$flash->type}">
						            <span>{$flash->message|noescape}</span>
							    </div>
						    </div>
						</div>
					</div>
				    {/snippet}
					
					<!-- Row starts -->
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-body">
									{block content}{/block}
								</div>
							</div>
						</div>
					</div>
					<!-- Row ends -->
				</div>
				<!-- Content wrapper end -->


			</div>
			<!-- *************
				************ Main container end *************
			************* -->


			<!-- Footer start -->
			<footer class="main-footer">© Siegl {=date("Y")}</footer>
			<!-- Footer end -->
			

		</div>
		<!-- Container fluid end -->

	<!-- - - - - - /MAIN CONTENT - - - - - -->

	<script src="{$basePath}/js/common/jquery.min.js"></script>
	<script src="{$basePath}/js/common/bootstrap.bundle.min.js"></script>
	<script src="{$basePath}/js/common/moment.js"></script>


	<!-- *************
		************ Vendor Js Files *************
	************* -->
	<!-- Slimscroll JS -->
	<script src="{$basePath}/vend/slimscroll/slimscroll.min.js"></script>
	<script src="{$basePath}/vend/slimscroll/custom-scrollbar.js"></script>

	<!-- Daterange -->
	<script src="{$basePath}/vend/daterange/daterange.js"></script>
	<script src="{$basePath}/vend/daterange/custom-daterange.js"></script>

	<!-- Main Js Required -->
	<script src="{$basePath}/js/common/main.js"></script>
	{*
	<script src="{$basePath}/js/common/main.old.js"></script>
	*}

	<script src="{$basePath}/js/common/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script language="javascript" src="{$basePath}/js/common/netteForms.js" ></script>
    <script language="javascript" src="{$basePath}/js/common/nette.ajax.js" ></script>
    <script language="javascript" src="{$basePath}/js/common/datagrid.js" ></script>
    <script>
        $(document).ready(function(){
            $.nette.init();
            
            tinymce.init({
                selector: "textarea.wysiwyg",
                theme: "modern",
                skin: 'pepper-grinder',
                     language : 'cs',
                plugins: [
                     "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                     "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                     "save table contextmenu directionality emoticons template paste textcolor"
               ],
               toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
               toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor  | print preview code ",
               image_advtab: true ,
               external_filemanager_path:{$rootFolder}+"/js/common/filemanager/",
               filemanager_title:"Správa médií" ,
               external_plugins: { "filemanager" : {$rootFolder}+"/js/common/filemanager/plugin.min.js"},
               content_css: {$rootFolder}+"/css/bootstrap.css, "+{$rootFolder}+"/css/custom.css",
               entity_encoding : "raw",
             });

        });
    </script>


</body>
</html>
