{block content}
     <div class="container fs">
     	<div class="head">
        	<h1 class="title">Úprava produktu</h1>
        	<div class="clearfix"></div>
        </div>
        {control productForm}
     </div>
{/block}
