/*!
* Default
*/

body {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #3f3f3f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  overflow-x: hidden;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:active,
select:hover,
select:focus,
.btn:active,
.btn.active,
.btn.focus,
.btn:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

label,
select {
  cursor: pointer;
}

strong {
  font-weight: 600;
}

a,
a:hover {
  transition: color .25s;
}

abbr[data-bs-original-title],
abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted #e7e7e7;
  transition: all .25s;
}

  abbr[data-bs-original-title]:hover,
  abbr[title]:hover {
    border-bottom: 1px dotted #424242;
    transition: all .25s;
  }

.chocolat-overlay {
  background-color: #424242;
}

.chocolat-wrapper .chocolat-bottom {
  display: none;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
}

  h1.title,
  h2.title {
    text-align: center;
    color: #004a39;
    font-size: 1.875rem;
    position: relative;
    z-index: 1;
  }

  h1.underline,
  h2.underline {
    margin-bottom: 25px;
  }

    h1.underline::after,
    h2.underline::after {
      content: "";
      display: block;
      width: 120px; height: 5px;
      background-color: #d71921;
      margin: 23px auto 0 auto;
    }

.modal-backdrop {
  background-color: #424242;
}

  .modal-backdrop.show {
    opacity: .8;
  }

.modal-content {
  border: 0;
  background-color: transparent;
  color: #424242;
  border-radius: 0;
  padding: 0;
  z-index: 1;
  min-height: 913px;
  padding-top: 200px;
}

  .modal-content h2 {
    font-size: 2.5rem;
    line-height: 1;
    padding: 40px 64px;
    background-color: #d71921;
    color: #FFF;
    text-transform: none;
    font-weight: 300;
    margin: 0;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
  }

.modal-body {
  padding: 0;
}

  .modal-body thead {
    font-size: 1.375rem;
    font-weight: 800;
    color: #004a39;
    text-transform: uppercase;
    text-align: center;
  }

.modal-rectangle {
  width: calc(100% + 400px);
  height: 800px;
  background-color: #eaeaea;
  position: absolute;
  left: -200px;
  right: -200px;
  top: 50%;
  transform: rotate(7deg) translateY(-50%);
  opacity: 1;
  overflow: hidden;
}

  .modal-rectangle img.cars {
    transform: rotate(-7deg);
    mix-blend-mode: multiply;
    opacity: .1;
    position: absolute;
    bottom: 0; left: 50%;
  }

    .modal-rectangle img.stripe {
      position: absolute;
      left: 157px; top: -139px;
      transform: rotate(-7deg);
    }

.table>:not(caption)>*>*,
.table>:not(:first-child) {
  border: 0;
  padding: 0;
}

.modal-body table {
  text-align: center;
  font-size: 1.875rem;
  color: #424242;
  font-weight: 400;
  margin: 0;
}

  .modal-body table a {
    color: #424242;
    text-decoration: none;
    position: relative;
  }

    .modal-body table a:hover,
    .modal-body table a[aria-expanded="true"] {
      color: #004a39;
    }

    .modal-body table a.btn-cancel:hover {
      color: #d71921;
    }

    .modal-body table a[data-bs-toggle="collapse"]::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 600;
      content: "\f059";
      position: absolute;
      top: 13px; right: -20px;
      font-size: 1rem;
    }

  .modal-body table em {
    font-style: normal;
    font-size: 1.25rem;
  }

  .modal-body table strong {
    font-weight: 800;
  }

.modal-body thead tr,
.modal-body tbody tr {
  background-color: transparent;
  border-bottom-width: 3px;
  border-color: #424242;
  box-shadow: none;
}

  .modal-body tbody tr {
    position: relative;
  }

  .modal-body tbody tr td:first-child {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 58px;
  }

  .modal-body tbody tr td:last-child {
    padding-right: 70px;
  }

  .modal-body tbody tr:last-child {
    border: 0;
  }

  .modal-body td {
    vertical-align: middle;
    padding: 20px;
    line-height: 1;
  }

    .modal-body thead td {
      padding-top: 0;
      padding-bottom: 20px;
    }

    .modal-body tfoot td {
      padding-top: 40px;
    }

  .modal-body .btn-close {
    position: absolute;
    top: 0; right: -80px;
    width: 21px; height: 21px;
    opacity: .75;
  }

  .modal-body label.select select,
  .modal-body label.select::before,
  .modal-body .btn-white {
    font-size: 1.125rem;
  }

    .modal-body .btn-white {
      padding: 10px 16px 9px 27px;
    }

.container {
  position: relative;
}

.btn {
  border: 0;
}

.btn-primary {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 9px 16px 7px 27px;
  position: relative;
}

  .btn-primary:hover {
    background-color: transparent;
  }

.btn-arrow::before,
.btn-arrow::after {
  content: "";
  position: absolute;
  left: -8px; top: 0;
  width: 8px; height: 46px;
}

  .btn-arrow:after {
    width: 46px; height: 46px;
    left: auto; right: -46px;
  }

  .btn-arrow i {
    position: absolute;
    right: -31px; top: 50%;
    transform: translateY(-50%);
    font-size: 1.125rem;
    color: #FFF;
    z-index: 1;
    -webkit-animation: arrowFadeIn 1.6s infinite;
       -moz-animation: arrowFadeIn 1.6s infinite;
         -o-animation: arrowFadeIn 1.6s infinite;
            animation: arrowFadeIn 1.6s infinite;
  }

    .btn-arrow:hover i,
    label.select:hover::before {
      animation: step-end;
    }

    .btn-cancel i {
      font-size: 1.25rem;
      right: -30px;
    }

.btn-white,
.btn-white:hover {
  background-color: #FFF;
  color: #424242;
}

.btn-white:active,
.btn-white:focus {
  background-color: #FFF !important;
  color: #004a39;
}

.btn-red,
.btn-red:hover {
  background-color: #d71921;
  color: #FFF;
}

  .btn-red::before {
    background: url("../img/red-arrow.svg");
    background-size: cover;
  }

  .btn-white::before {
    background: url(../img/white-arrow.svg);
    background-size: cover;
  }

  .btn-red.btn-arrow::after,
  .btn-white::after {
    background-color: #004a39;
  }

  .btn-cancel::after {
    background-color: #d71921;
  }

  .btn-red:active,
  .btn-red:focus {
    background-color: #d71921;
    color: #eaeaea;
  }

  .btn-red:hover {
    color: #eaeaea !important;
  }

@-webkit-keyframes arrowFadeIn { 
  0%   { opacity:0.5; }
  50%  { opacity:1; }
  100% { opacity:0.5; }
}

@keyframes arrowFadeIn {
  0%   { opacity:0.5; }
  50%  { opacity:1; }
  100% { opacity:0.5; }
}

p.section-description {
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.2;
}

/*!
* Header
*/

header {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  z-index: 4;
  position: absolute;
  top: 0;
  width: 100%;
}

  header::before,
  header::after {
    content: "";
    width: 100%; height: 36px;
    background-color: #004a39;
    position: absolute;
    top: 0; left: 0;
  }

  header::after {
    height: 68px;
    background-color: #d71921;
    top: 36px;
  }

  header div.container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1120px;
  }

  header div.fastest {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 30px;
    line-height: 1;
  }

    header div.fastest span {
      display: block;
    }

      header div.fastest span:first-child {
        margin-bottom: 24px;
      }

header div.logo {
  background-color: #FFF;
  padding: 34px 30px 26px 33px;
  position: relative;
}

  header div.logo::before {
    content: "";
    position: absolute;
    left: 0; bottom: -27px;
    border-width: 27px 243px 0 0px;
    border-color: #FFFFFF transparent transparent transparent;
    border-style: solid;
  }

  header div.logo::after {
    content: "";
    position: absolute;
    left: -3.5px; top: 0;
    width: 257px; height: 180px;
    background: url(../img/b_logo-shadow.png);
    z-index: -1;
  }

  header div.logo img {
    max-width: 180px; height: auto;
  }

  header div.logo a {
    display: inline-block;
  }

  img.we-guarantee {
    position: absolute;
    top: 42px; left: 652px;
    max-width: 58px;
  }

div.order {
  background: #d71921 url(../img/i_phone.png);
  background-repeat: no-repeat;
  background-position: 140px center;
  text-align: right;
  margin-left: auto;
  padding: 19px 32px 19px 32px;
  line-height: 1;
  letter-spacing: .5px;
  position: relative;
}

  div.order::before,
  div.order::after {
    content: "";
    width: 1px; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=0 );

  }

    div.order::after {
      left: auto; right: 0;
    }

  div.order span:first-child,
  div.order span:last-child {
    display: block;
    font-weight: 500;
  }

    div.order span:first-child {
      margin-bottom: 3px;
    }

    div.order span:last-child {
      margin-top: 1px;
      letter-spacing: -0.2px;
    }

  div.order a {
    font-weight: 700;
    color: #FFF;
  }

    div.order a:hover {
      text-decoration: none;
    }

  span.or {
    font-weight: 500;
    vertical-align: super;
  }

  span.phone {
    font-size: 1.625rem;
    font-weight: 600;
  }

header img.mosaic {
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-457px);
  z-index: 1;
  mix-blend-mode: multiply;
}

@media (min-width: 1024px) {
  .modal-dialog {
    max-width: 985px;
  }
}

/*!
* Main navigation
*/

nav {
  margin: 40px auto 0 auto;
  display: table;
  font-weight: 300;
  position: relative;
  z-index: 4;
}

  nav::after {
    content: "";
    width: 90%; height: 1px;
    background-color: #424242;
    display: block;
    margin: 28px auto 0 auto;
  }

nav ul {
  margin: 0; padding: 0;
  line-height: 1;
  vertical-align: top;
}

  nav ul li {
    display: inline-block;
    position: relative;
  }

    nav ul li a::before {
      content: "";
      width: 1px; height: 26px;
      background-color: #424242;
      position: absolute;
      left: 0; top: -1px;
    }

      nav ul li:first-child a::before {
        content: none;
      }

nav a {
  color: #424242;
  text-decoration: none;
  position: relative;
  letter-spacing: .5px;
  padding: 0 18px 21px 18px;
}

  nav a:hover {
    color: #424242;
  }

  nav a:hover span,
  a.active span,
  a.active,
  div.submenu li a:hover,
  nav li.submenu.active span {
    color: #424242;
      -webkit-text-fill-color: #424242;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #424242;
    border-bottom: 1px solid #424242;
  }

    a.active span,
    a.active {
      border-bottom: 0;
    }

  nav li a.external::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f35d";
    display: inline-block;
    vertical-align: top;
    font-size: 0.625rem;
    margin-left: 3px;
  }

nav li.submenu>a::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  content: "\f078";
  position: absolute;
  left: 50%; top: 19px;
  transform: translateX(-50%) scale(1.5, .5);
}

  nav li.submenu>a:hover::after,
  nav li.submenu.active>a::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    left: calc(50% - 15px); top: auto; bottom: -1px;
    transform: none;
  }

div.submenu {
  position: absolute;
  top: 42px; left: auto;
  display: none;
  font-size: 1rem;
  min-width: 187px;
  -webkit-box-shadow: 3px 6px 9px -3px rgba(0,0,0,0.43); 
          box-shadow: 3px 6px 9px -3px rgba(0,0,0,0.43);
}

  div.submenu.two-columns {
    min-width: 410px;
  }

  nav li.submenu:hover div.submenu {
    display: table;
  }

  div.submenu ul {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 16px;
    text-align: center;
    width: 187px;
    display: table-cell;
  }

    div.submenu ul.products {
      background-color: rgba(242, 242, 242, 0.95);
      padding: 20px 16px;
      text-align: left;
      width: calc(410px - 187px);
      font-size: 0.875rem;
    }

      div.submenu ul.products a {
        color: #959595;
      }

  div.submenu li {
    display: block;
    border-bottom: 1px solid #ebebeb;
  }

    div.submenu li a {
      padding: 10px 0;
      line-height: 1.2;
      display: block;
      color: #424242;
    }

      div.submenu li a:hover {
        border-bottom: 0;
      }

  div.submenu li::before,
  div.submenu ul li a::before {
    content: none;
  }

/*!
* Slide
*/

section.slide {
  background: #eaeaea url(../img/prague.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 224px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}

  section.slide h1 {
    color: #004a39;
    text-transform: uppercase;
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 74px;
    margin-bottom: 15px;
  }

  section.slide p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
  }

    section.slide p:last-child {
      margin-bottom: 0;
    }

  section.slide div.container {
    padding-top: 35px;
    max-width: 1250px;
    position: relative;
  }

    section.slide div.container .row {
      margin-left: 53px;
      position: relative;
      padding-bottom: 160px;
      z-index: 1;
    }

  section.slide img.mosaic.left,
  section.slide img.mosaic.right,
  section.top img.mosaic.left,
  section.top img.mosaic.right {
    position: absolute;
    top: 0; left: 0;
    mix-blend-mode: multiply;
  }

    section.top img.mosaic.left {
      top: -190px;
      left: -200px;
    }

    section.slide img.mosaic.right,
    section.top img.mosaic.right {
      left: auto; right: 0;
    }

    section.slide img.stripe,
    section.top img.stripe {
      position: absolute;
      top: -222px; left: 206px;
      opacity: 0.35;
    }

      section.top img.left.aos-animate {
        opacity: .05;
      }

div.map {
  margin-left: 128px;
  position: relative;
}

  div.v-cili {
    position: absolute;
    left: 296px; top: 0;
  }

    div.v-cili img {
      position: relative;
      z-index: 2;
    }

  div.v-cili img.shadow {
    position: absolute;
    left: 15px; bottom: -2px;
    box-shadow: none !important;
    z-index: 1;
  }

img.car {
  position: absolute;
  right: 73px; bottom: -29px;
}

/*!
* Demand
*/

section.demand {
  color: #FFF;
  position: relative;
  z-index: 3;
  font-size: 1.375rem;
  margin-top: -364px;
  width: 100%; height: 736px;
}

  section.demand .container {
    max-width: 915px; width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section.demand::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 736px;
    background: url("../img/b_calculation.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
  }

  section.demand::after {
    content: "";
    position: absolute;
    bottom: -51px; left: -10px;
    width: 135px; height: 15px;
    background-color: #d71921;
    transform: rotate(353deg) skew(352deg, 0deg);
  }

section.demand .btn {
  float: right;
  margin-top: 3px;
  margin-right: 45px;
}

  section.demand .btn-arrow::after {
    background-color: #d71921;
  }

  section.demand .btn-white:hover {
    color: #004a39;
  }

section.demand h2 {
  margin-bottom: 0;
}

section.demand ul {
  line-height: 1;
  margin: 0;
}

  section.demand ul li::before {
    content: "/";
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

    section.demand ul li:first-child::before {
      content: none;
    }

div.calculation {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: right;
}

  div.calculation::before {
    content: "";
    background: url("../img/i_24-hod.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%; left: -93px;
    transform: translateY(-50%);
    opacity: .11;
    width: 125px; height: 125px;
  }

  div.calculation::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f054";
    position: absolute;
    top: 50%; right: -65px;
    transform: translateY(-50%) scale(.6, 2.2);
    opacity: .5;
    animation: arrowSlideRight 1.5s ease-in-out infinite;
  }

@keyframes arrowSlideRight {
  0%,
  100% {
    transform: translate(0, 0) translateY(-50%) scale(.6, 2.2);
  }

  50% {
    transform: translate(5px, 0) translateY(-50%) scale(.6, 2.2);
  }
}

/*!
* Services
*/

section.services {
  margin-top: -100px;
  z-index: 3;
  position: relative;
  padding-bottom: 90px;
  background: url("../img/cars.png");
  background-repeat: no-repeat;
  background-position: center 113%;
}

  section.services .row a {
    display: inline-block;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .25s;
    line-height: 1.2;
  }

    section.services a:hover {
      color: #004a39;
      transition: color .25s;
    }

  section.services a.btn {
    margin: 0 auto;
    margin-left: calc(50% - 110px);
  }

  section.services span {
    display: block;
    font-weight: 700;
  }

section.services .row {
  margin: 0 auto 55px auto;
  text-align: center;
  font-size: 1.625rem;
  max-width: 1100px; width: 100%;
}

  section.services [class*=col-] {
    margin-top: 50px;
  }

div.service-icon {
  width: 181px; height: 181px;
  border: 4px solid #eaeaea;
  border-radius: 50%;
  background-color: #eaeaea;
  position: relative;
  margin: 0 auto 10px auto;
  transition: all .25s;
}

  section.services a:hover div.service-icon {
   border-color: #004a39;
   background-color: #f5f5f5;
   transition: all .25s;
  }

  div.service-icon img {
    max-width: 140px; width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  div.service-icon img.velkoobjemove-kontejnery {
    max-width: 132px;
  }

  div.service-icon img.retezove-vanove-kontejnery {
    max-width: 102px;
  }

  div.service-icon img.prodej-a-dovoz-pisku-a-sterku {
    max-width: 96px;
  }

  div.service-icon img.kalkulace-do-24-hodin {
    max-width: 98px;
  }

/*!
* Blog
*/

section.blog {
  color: #000;
  padding: 80px 0 60px 0;
  position: relative;
  z-index: 4;
}

  section.blog::after {
    content: "";
    width: calc(100% + 400px); height: 663px;
    background-color: #d71921;
    position: absolute;
    left: -200px; right: -200px; top: 0;
    z-index: 3;
    transform: rotate(7deg);
    -webkit-box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.3); 
            box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.3);
  }

  section.blog img.mosaic {
    position: absolute;
    left: 0;
    z-index: 4;
       -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
         -o-transform: skew(0deg, 7deg);
        -ms-transform: skew(0deg, 7deg);
            transform: skew(0deg, 7deg);
  }

  section.blog div.container {
    max-width: 1020px; width: 100%;
    z-index: 4;
    position: relative;
  }

section.blog h2.title {
  color: #FFF;
}

  section.blog h2.underline::after {
    background-color: #000;
  }

section.blog h3 {
  font-size: 1.34375rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

div.blog-post a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

  div.blog-post a:hover {
    color: #000;
  }

section.blog div.row {
  margin-top: 35px;
}

div.blog-post {
  text-align: center;
  color: #FFF;
  font-size: 0.85rem;
  max-width: 280px; width: 100%;
  margin: 0 auto;
}

  div.blog-post img {
    max-width: 207px; width: 100%;
    height: auto;
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.23); 
            box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.23);
  }

  span.date {
    display: block;
    font-size: 0.6875rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 6px;
  }

  div.blog-post p {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
  }

  section.blog a.read-more {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
  }

    section.blog a.read-more:hover {
      text-decoration: none;
    }

section.blog a.btn-primary {
  margin: 30px auto 0 auto;
  margin-left: calc(50% - 110px);
}

section.blog .btn-white::after {
  background-color: #424242;
}

div.rectangle {
  width: 832px; height: 300px;
  background-color: #004a39;
  position: absolute;
  top: 30px; right: -25px;
  transform: rotate(-7deg);
}

  div.rectangle::before {
    content: "";
    width: 1000px; height: 14px;
    background-color: #004a39;
    position: absolute;
    top: -39px; right: 325px;
    transform: skew(352deg, 0deg);
  }

section.blog img.stripe {
  position: absolute;
  top: -100px; right: 0;
  z-index: 4;
}

/*!
* Video
*/

section.video {
  margin-top: -150px;
  background: #424242;
  position: relative;
  padding-top: 130px;
}

  section.video::after {
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: #424242 url("../img/b.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.2;
    background-blend-mode: luminosity;
    background-size: cover;
  }

section.video video {
  max-width: 935px; width: 100%;
  margin: -3px auto 0 auto;
  display: table;
  position: relative;
  z-index: 1;
}

div.video-container {
  position: relative;
  -webkit-box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.3); 
          box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.3);
}

  div.video-container::before,
  div.bottom-navigation.background::after {
    content: "";
    width: 100%; height: calc(100% + 130px);
    position: absolute;
    top: -130px; left: 0;
    background-color: #5b5b5b;
    opacity: .63;
    mix-blend-mode: multiply;
    z-index: 1;
  }

    div.bottom-navigation.background::after {
      height: 100%;
      top: 0;
    }

section.products div.rectangle {
  position: absolute;
  top: 682px; left: -10px;
  width: 285px; height: 15px;
  background-color: #d71921;
  transform: rotate(353deg) skew(352deg, 0deg);
  z-index: 2;
}

/*!
* Bottom navigation
*/

div.bottom-navigation {
  text-transform: uppercase;
  padding: 35px 0;
  position: relative;
}

  div.bottom-navigation a {
    color: #FFF;
    text-decoration: none;
  }

    div.bottom-navigation a:hover {
      color: #dadada;
    }

div.bottom-navigation ul {
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

  div.bottom-navigation li::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1px; height: 23px;
    background-color: #bcbcbc;
    margin-right: 14px;
    opacity: .85;
  }

div.bottom-navigation.background {
  padding-top: 78px;
}

  div.bottom-navigation.background .container {
    z-index: 2;
  }

/*!
* Subpage - top section
*/

section.top {
  background-color: #eaeaea;
  padding-top: 290px;
  padding-bottom: 100px;
}

  section.top.containers,
  section.top.container-detail {
    padding-bottom: 0;
    z-index: 2;
    position: relative;
  }

    section.top.container-detail {
      padding-bottom: 0;
      z-index: 2;
      position: relative;
      padding-bottom: 85px;
    }

    section.top.containers::before {
      content: "";
      width: 100%; height: 100%;
      background: url("../img/b_containers.png");
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: 47% 75%;
    }

    section.top.container-detail div.container {
      max-width: 1115px; width: 100%;
    }

    body.containers::before,
    body.container-detail::before {
      content: "";
      width: calc(100% + 400px);
      height: 863px;
      background-color: #eaeaea;
      position: absolute;
      left: -200px;
      right: -200px;
      top: -200px;
      transform: rotate(7deg);
      -webkit-box-shadow: 1px 5px 11px 1px rgb(0 0 0 / 30%);
      box-shadow: 1px 5px 11px 1px rgb(0 0 0 / 30%);
      z-index: 2;
    }

  section.top img.stripe {
    left: 20px;
    width: 618px; height: 550px;
    object-fit: cover;
  }

    section.top.container-detail img.stripe {
      top: -264px; right: -145px; left: auto;
      height: 681px;
    }

div.filter {
  position: relative;
  z-index: 1;
  margin: 36px auto 40px auto;
}

  div.filter form {
    display: table;
    margin: 0 auto;
  }

label.select {
  position: relative;
  display: inline-block;
}

  div.filter li {
    position: relative;
    vertical-align: middle;
  }

    div.filter li:first-child {
      margin-left: 8px;
    }

    div.filter li:not(:last-child) {
      margin-right: 26px;
    }

    div.filter li::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      margin-right: 11px;
      height: 46px;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-position: center center !important;
    }

      div.filter li.druh-odpadu::before {
        width: 56px;
        background: url("../img/i_druh-odpadu.png");
      }

      div.filter li.objem::before {
        width: 33px;
        background: url("../img/i_objem.svg");
      }

      div.filter li.nosnost::before {
        width: 33px;
        background: url("../img/i_nosnost.png");
      }

      div.filter li.turbokontejner::before {
        width: 43px;
        background: url("../img/i_turbokontejner.png");
      }

      li.turbokontejner {
        height: 46px;
        position: relative;
        color: #424242;
        font-weight: 600;
        transition: all .25s;
      }

        li.turbokontejner:hover {
          color: #004a39;
          transition: all .25s;
        }

        li.turbokontejner div.form-check {
          background-color: #FFF;
          display: inline-block;
          height: 46px;
          line-height: 46px;
          margin: 0;
          padding: 0 70px 0 21px;
          position: relative;
        }

          li.turbokontejner .form-check-input[type=checkbox],
          .modal-content [type=checkbox] {
            position: absolute;
            top: 8px; right: 11px;
            z-index: 3;
            width: 23px; height: 23px;
            border-radius: 0;
            border: 0;
            cursor: pointer;
          }

            .modal-content [type=checkbox] {
              position: relative;
              top: auto; right: auto;
            }

            .modal-content .form-check-input {
              margin-top: 3.5px;
              margin-right: 20px;
            }

            li.turbokontejner .form-check-input[type=checkbox]:checked,
            .modal-content [type=checkbox]:checked {
              background-color: #FFF;
              transition: all .25s;
            }

            li.turbokontejner .form-check-input[type=checkbox]:checked::after,
            .modal-content [type=checkbox]:checked::after {
              font-family: "Font Awesome 6 Free";
              font-weight: 600;
              color: #424242;
              content: "\f00c";
              position: absolute;
              top: -11px; right: 5px;
              transition: all .25s;
              -webkit-text-fill-color: #424242;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #424242;
            }

              .modal-content [type=checkbox]:checked::after {
                font-size: 1.125rem;
                top: 3px; right: 4px;
              }

      li.vat,
      div.sidebar-vat {
        background-color: #FFF;
        color: #424242;
        text-transform: uppercase;
        font-weight: 600;
      }

        li.vat::before {
          content: none !important
        }

        li.vat div {
          display: inline-block;
          vertical-align: middle;
          margin: 0; padding: 0;
          height: 46px;
          line-height: 46px;
        }

        li.vat input[type="radio"],
        div.sidebar-vat input[type="radio"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          width: 0; height: 0;
        }

          li.vat input[type="radio"] ~ label {
            padding: 0 12px;
            transition: background .25s;
          }

          li.vat input[type="radio"]:checked ~ label {
            background-color: #d71921;
            color: #FFF;
            transition: background .25s;
          }

    div.filter li::after {
      content: "";
      position: absolute;
      left: -8px; top: 0;
      width: 8px; height: 46px;
      background: url(../img/white-arrow.svg);
      background-size: cover;
    }

      div.filter li.druh-odpadu::after {
        left: 63px;
      }

      div.filter li.objem::after,
      div.filter li.nosnost::after {
        left: 40px;
      }

      div.filter li.turbokontejner::after {
        left: 50px;
      }

  label.select select {
    -webkit-appearance: none;
       -moz-appearance: none;
    appearance: none;
    padding: 0 70px 0 21px;
    border: 0;
    border-radius: 0;
    line-height: 36px;
    height: 46px;
    background: #FFF;
    color: #424242;
    margin: 0;
    font-weight: 600;
    text-align: center;
    transition: all .25s;
  }

    label.select select:hover {
      color: #004a39;
    }

  select.select::-ms-expand {
    display: none;
    transition: all .25s;
  }

  label.select::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f078";
    color: #FFF;
    line-height: 1;
    opacity: .4;
    position: absolute;
    top: 15px; right: 15px;
    pointer-events: none;
    z-index: 3;
    transition: all .25s;
    -webkit-animation: arrowFadeIn 1.6s infinite;
       -moz-animation: arrowFadeIn 1.6s infinite;
         -o-animation: arrowFadeIn 1.6s infinite;
            animation: arrowFadeIn 1.6s infinite;
  }

    label.select:hover::before {
      opacity: 1;
      transition: all .25s;
    }

  label.select::after,
  li.turbokontejner div.form-check::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
    width: 46px;
    height: 46px;
    pointer-events: none;
    background-color: #004a39;
  }

  div.filter button {
    background-color: transparent;
    padding: 0;
    color: #424242;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 300;
    display: table;
    margin: 15px auto 0;
  }

    div.filter button:hover,
    div.filter button:focus {
      color: #004a39;
      text-decoration: none;
      background-color: transparent;
    }

/*!
* Subpage - containers
*/

section.products {
  padding-top: 30px;
  margin-top: -36px;
  background: #424242;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  position: relative;
}

  section.products::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-color: #424242;
    opacity: .8;
  }

  section.products::after {
    content: "";
    width: 3500px; height: 800px;
    background-color: #004a39;
    position: absolute;
    left: -200px;
    right: -200px;
    top: -240px;
    transform: rotate(-7deg);
    opacity: .85;
    z-index: 1;
  }

section.products>.container {
  max-width: 1185px;
  position: relative;
  z-index: 3;
}

section.products .col-md-4 {
  margin-top: 40px;
}

  section.products .row .col-md-4:nth-child(1),
  section.products .row .col-md-4:nth-child(2),
  section.products .row .col-md-4:nth-child(3) {
    margin-top: 0;
  }

.col-container {
  max-width: 357px; width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  -webkit-box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.51); 
          box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.51);
  padding-bottom: 18px;
}

.col-container h2 {
  text-transform: none;
  text-align: center;
  font-weight: 300;
  font-size: 2.1875rem;
  background-color: #d81921;
  margin: 0;
}

  .col-container h2 span {
    font-size: 1rem;
  }

  .col-container h2:hover {
      -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
  }

  .col-container h2 a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding-top: 39px;
    padding-bottom: 35px;
    position: relative;
  }

    .col-container h2 a::after {
      content: "";
      position: absolute;
      bottom: -18px; left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 17.5px 0 17.5px;
      border-color: #d81923 transparent transparent transparent;
    }

.accordion-button {
  padding: 3px 0;
  position: relative;
  font-size: .875rem;
}

  .accordion-button::before {
    content: "";
    width: 100%; height: 1px;
    background-color: #e7e7e7;
    position: absolute;
    left: 0; top: 13.5px;
  }

  .accordion-button::after {
    width: 1.2em; height: .9em;
    margin-top: 1px;
    margin-left: 0;
    background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    z-index: 1;
  }

  .accordion-button:not(.collapsed)::after {
    background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }

  .accordion-button span.price {
    position: absolute;
    right: 0;
    background-color: #FFF;
    padding-left: 10px;
  }

  .accordion-button em {
    background-color: #FFF;
    font-style: normal;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    padding-right: 4px;
  }

  .accordion-button:not(.collapsed),
  .accordion-button:hover {
    box-shadow: none;
    color: inherit;
    background-color: transparent;
      -webkit-text-fill-color: #424242;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #424242;
  }

  .accordion-body {
    font-size: .875rem;
    padding: 0 0 20px 0;
  }

.accordion-item {
  border: 0;
}

span.without-vat {
  display: block;
  text-align: center;
  margin: 16px auto;
  font-size: .875rem;
  font-weight: 400;
}

a.container-detail {
  color: #424242;
  display: table;
  margin: 16px auto 0 auto;
  text-transform: uppercase;
}

  a:hover.container-detail {
    text-decoration: none;
  }

.col-container .btn {
  display: table;
  margin: 0 auto;
  margin-left: calc(50% - 140px);
}

div.container-image {
  max-width: 260px; width: 100%;
  text-align: center;
  margin: 50px auto 17px auto;
  position: relative;
}

  div.container-image img {
    max-width: 190px; width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  div.container-image::after {
    content: "";
    width: 100%; height: 1.5px;
    background-color: #e7e7e7;
    position: absolute;
    left: 0; bottom: 10px;
  }

div.col-container div.accordion {
  max-width: 260px; width: 100%;
  margin: 0 auto;
  border-bottom: 1.5px solid #e7e7e7;
  padding-bottom: 16px;
}

div.help {
  margin-top: 40px;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #FFF;
}

  div.help span {
    font-weight: 600;
    display: block;
  }

div.calculation-bar {
  background-color: rgba(215, 25, 33, 0.8);
  padding: 21px 26px;
  max-width: 600px; width: 100%;
  margin: 32px auto -44px auto;
  color: #FFF;
  font-size: 1.5625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 1;
  position: relative;
}

  div.calculation-bar::before,
  div.calculation-bar::after {
    content: "";
    width: 100px; height: 100%;
    position: absolute;
    top: 0; left: -100px;
    background: -moz-linear-gradient(left,  rgba(215,25,33,0) 0%, rgba(215,25,33,0.8) 70%, rgba(215,25,33,0.8) 100%);
    background: -webkit-linear-gradient(left,  rgba(215,25,33,0) 0%,rgba(215,25,33,0.8) 70%,rgba(215,25,33,0.8) 100%);
    background: linear-gradient(to right,  rgba(215,25,33,0) 0%,rgba(215,25,33,0.8) 70%,rgba(215,25,33,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d71921', endColorstr='#ccd71921',GradientType=1 );
  }

    div.calculation-bar::after {
      left: auto; right: -100px;
      background: -moz-linear-gradient(left,  rgba(215,25,33,0.8) 0%, rgba(215,25,33,0.8) 30%, rgba(215,25,33,0) 100%);
      background: -webkit-linear-gradient(left,  rgba(215,25,33,0.8) 0%,rgba(215,25,33,0.8) 30%,rgba(215,25,33,0) 100%);
      background: linear-gradient(to right,  rgba(215,25,33,0.8) 0%,rgba(215,25,33,0.8) 30%,rgba(215,25,33,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd71921', endColorstr='#00d71921',GradientType=1 );
    }

  div.calculation-bar ul {
    margin: 5px 0 0 0;
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: 0;
  }

  div.calculation-bar a.btn {
    position: absolute;
    top: 50%; right: 72px;
    transform: translateY(-50%);
  }

div.type-description {
  font-size: .875rem;
  text-transform: none;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: calc(100% - 255px);
  z-index: 4;
  background-color: rgba(234, 234, 234, .95);
  color: #424242;
  font-weight: 500;
  line-height: 1.4;
  padding: 5px;
}

  div.type-description.collapsing {
    transition: all .1s;
  }

/*!
* Container detail
*/

div.sidebar-container {
  background-color: #FFF;
  padding: 40px 46px 36px 46px;
  border-bottom: 2px solid #424242;
  position: relative;
}

  div.sidebar-container::before,
  div.sidebar-container::after {
    content: "";
    position: absolute;
    bottom: -2px; left: 0;
    width: 2px; height: 125px;
    background-color: #424242;
  }

    div.sidebar-container::after {
      left: auto; right: 0;
      height: 168px;
    }

  div.sidebar h1 {
    background-color: #eaeaea;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 1.1;
    padding: 50px 10px;
    border: 2px solid #3c3c3c;
    margin: 0;
    position: relative;
  }

    div.sidebar h1::before {
      content: "";
      width: 0; height: 0;
      border-style: solid;
      border-width: 19px 24px 0 24px;
      border-color: #eaeaea transparent transparent transparent;
      position: absolute;
      bottom: -19px; left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    div.sidebar h1::after {
      content: "";
      width: 0; height: 0;
      border-style: solid;
      border-width: 22px 27px 0 27px;
      border-color: #3d3d3d transparent transparent transparent;
      position: absolute;
      bottom: -22px; left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    div.sidebar h1 span {
      display: block;
      text-transform: lowercase;
      font-weight: 300;
      font-size: 2.5rem;
    }

span.pricelist {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
}

div.sidebar-vat {
  background-color: transparent;
  font-size: .9375rem;
  text-align: center;
  margin: 10px 0 20px 0;
}

  div.form-check-container {
    border-radius: 12.5px;
    background-color: #d71921;
    overflow: hidden;
    border: 2px solid #d71921;
  }

  div.sidebar-vat div {
    display: inline-block;
    vertical-align: top;
    margin: 0; padding: 0;
    font-weight: 400;
    line-height: 1.6;
  }

  div.sidebar-vat label {
    padding: 0 9px;
    background-color: #FFF;
    transition: all .25s;
  }

    div.sidebar-vat input[type="radio"]:checked ~ label {
      color: #FFF;
      background-color: #d71921;
      font-weight: 600;
      transition: all .25s;
    }

  div.sidebar-vat span {
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

div.sidebar table {
  margin: 0 auto 16px auto;
  line-height: 1.3;
}

  div.sidebar table::after,
  div.sidebar div.accordion::after {
    content: "";
    display: table-caption;
    width: 100%; height: 2px;
    background: #e7e7e7;
    margin-top: 15px;
  }

    div.sidebar div.accordion::after {
      display: block;
    }

  div.sidebar table tr td:first-child {
    text-transform: uppercase;
    font-weight: 600;
  }

  div.sidebar table tr td:last-child {
    text-align: right;
  }

div.sidebar button.btn,
div.sidebar a.btn {
  width: calc(100% - 54px);
  margin-left: 8px;
}

  div.sidebar .btn-primary {
    padding: 9px 16px 7px 14px;
  }

div.sidebar div.or {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 21px;
}

  div.sidebar div.or span {
    display: block;
  }

    div.sidebar div.or span.phone {
      font-weight: 600;
      font-size: 1.6875rem;
      letter-spacing: .5px;
    }

  div.sidebar div.or.demand {
    margin-bottom: 14px;
  }

div.container-content {
  max-width: 600px; width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

  div.container-content img {
    vertical-align: bottom;
  }

div.container-size img.silhouette {
  width: auto; max-height: 100%;
  opacity: .5;
}

div.container-size img.container-image {
  max-width: calc(100% - 200px);
}

a.btn-manipulation {
  background-color: transparent;
  font-weight: 300;
  font-size: 1.25rem;
  color: #303030;
  text-transform: none;
  border: 2px solid #FFF;
  border-right: 0;
  padding: 7px 32px 7px 20px;
  transition: all .25s;
  margin: 40px auto 0 auto;
  display: table;
}

  a.btn-manipulation:hover,
  a.btn-manipulation:focus {
    border-color: #d71921;
    color: #303030;
    background-color: transparent;
  }

  a.btn-manipulation i {
    position: absolute;
    top: 14px; right: 0;
    color: #d71921;
    font-size: 1.125rem;
  }

div.waste-type {
  color: #FFF;
  margin-top: 100px;
  font-size: 1.375rem;
}

div.speed {
  margin-top: 110px;
}

  div.speed h2.underline {
    margin-bottom: 40px;
  }

  div.speed label.select {
    margin: 0 auto 40px auto;
    display: table;
  }

    div.speed label.select select {
      background-color: #3c3c3c;
      color: #FFF;
    }

      div.speed label.select::after {
        background-color: #d71921;
      }

div.warrant {
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
}

  div.warrant ul {
    margin: 0;
    line-height: 1.3;
  }

    div.warrant ul li:last-child {
      margin-top: -20px;
    }

    span.turbo {
      font-size: 1.125rem;
      display: block;
    }

  span.number {
    font-size: 3.125rem;
    font-weight: 500;
  }

@media (min-width: 768px) {

  section.container-detail .col-md-4 {
    flex: 0 0 auto;
    width: 34.33333333%;
  }

  section.container-detail .col-md-8 {
    flex: 0 0 auto;
    width: 64.66666667%;
  }

}

/*!
* Footer
*/

footer {
  background-color: #eaeaea;
  color: #424242;
  font-size: 1.048rem;
  padding-top: 31px;
  position: relative;
}

  footer div.container {
    position: relative;
    max-width: 1120px;
    padding-bottom: 20px;
  }

footer div.logo {
  display: inline-block;
  vertical-align: top;
}

  footer div.logo a {
    display: inline-block;
  }

    footer div.logo img {
      max-width: 190px; height: auto;
    }

footer div.contact {
  display: inline-block;
  vertical-align: top;
  line-height: 1.3;
  margin-left: 82px;
}

footer ul {
  margin: 0;
}

footer a {
  color: #424242;
  font-weight: 500;
  text-decoration: none;
}

  footer a:hover {
    color: #d71921;
  }

  footer a.email::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f0e0";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }

  footer div.phone {
    background: #d71921;
    display: inline-block;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 1;
    padding: 13px 10px 20px 12px;
    position: relative;
  }

    footer div.phone a {
      color: #FFF;
      font-weight: 700;
      z-index: 1;
      position: relative;
    }

    footer div.phone img {
      position: absolute;
      top: 9px; left: 7px;
      opacity: 0.5;
      width: 21px; height: auto;
    }

  footer i.triangle {
    position: absolute;
  }

    footer i.triangle.left {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 58px 43px 0px 0;
      border-color: transparent #d71921 transparent transparent;
      top: 0; left: -43px;
    }

    footer i.triangle.top {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 170px;
      border-color: transparent transparent #d71921 transparent;
      top: -20px; left: 0;
    }

    footer svg {
      position: absolute;
      right: -63px;
      transform: rotate(90deg);
      bottom: 20px;
    }

div.dispatching {
  position: absolute;
  bottom: 0; right: 0;
  color: #d71921;
  text-transform: uppercase;
  font-weight: 600;
}

  div.dispatching a:hover {
    color: #eaeaea;
  }

  footer div.dispatching span {
    margin-right: 38px;
  }

div.copyright {
  text-align: center;
  font-size: 0.75rem;
  background-color: #424242;
  color: #eaeaea;
  padding: 14px 0;
  text-transform: uppercase;
}

  li.sro {
    text-transform: none;
  }

  div.copyright div.container {
    padding-bottom: 0;
  }

  div.copyright a {
    color: #eaeaea;
    font-weight: 300;
  }

    div.copyright a:hover {
      color: #FFF;
    }

  div.copyright li::before,
  div.calculation-bar li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px; height: 9px;
    background-color: #a4a4a4;
    margin-right: 14px;
  }

    div.calculation-bar li::before {
      height: 21px;
      background-color: #FFF;
      vertical-align: text-top;
      margin-right: 10px;
    }

    div.copyright li:first-child::before,
    div.bottom-navigation li:first-child::before,
    div.calculation-bar li:first-child::before {
      content: none;
    }