<!DOCTYPE html>
<html lang="cs" class="notouch yeswebp">

	{include '_parts/head.latte'}
	
	{var $bodyClasses = array(
		1 => "page",
		7 => "homepage",
		8 => "containers",
		9 => "materials",
		11 => "order",
		12 => "subpages",
		13 => "demand",
		14 => "order",
		15 => "order",
		16 => "demand",
		17 => "page",
	)}
	{var $bodyClass = ""}
	{if !empty($page->layoutId) && !empty($bodyClasses[$page->layoutId])}
		{php $bodyClass = $bodyClasses[$page->layoutId]}
	{/if}
	{if !empty($bodyClassPage)}
		{php $bodyClass = $bodyClassPage}
	{/if}
	
	<body class="{$bodyClass}">
		{include '_parts/header.latte'}
        <!-- ./header -->
        {*
        {foreach $flashes as $flash}
            <div class="container alert-container">
                <div class="alert {$flash->type}">{$flash->message}</div>
            </div>
        {/foreach}
        *}

        {block content}{/block}

        {include '_parts/footer.latte'}

		{block modals}
		{/block}
        

		{block scripts}{/block}
	</body>
</html>
