<!DOCTYPE html>
<html lang="cs" class="notouch yeswebp">

	{include '_parts/head.latte'}
	
	{var $bodyClasses = array(
		7 => "homepage",
		8 => "containers",
	)}
	{var $bodyClass = ""}
	{if !empty($page->layoutId) && !empty($bodyClasses[$page->layoutId])}
		{php $bodyClass = $bodyClasses[$page->layoutId]}
	{/if}
	{if $presenter->action=='container'}
		{php $bodyClass = "container-detail"}
	{/if}

	<body class="{$bodyClass}">
		{include '_parts/header.latte'}
        <!-- ./header -->
        {foreach $flashes as $flash}
            <div class="container alert-container">
                <div class="alert {$flash->type}">{$flash->message}</div>
            </div>
        {/foreach}

        {block content}{/block}

        {include '_parts/footer.latte'}

		{block scripts}{/block}
	</body>
</html>
