{block content}
     	<div class="head">
        	<h1 class="card-title">
        		Úprava atributu
        	</h1>
        	<div class="clearfix"></div>
        </div>
        {control attributeForm}
{/block}
