{block content}
     	<div class="head">
        	<h1 class="title">
        		Úprava hodnoty atributu {$attribute->name}
        	</h1>
        	<div class="clearfix"></div>
        </div>
        {control valueForm}
{/block}
