<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Připomenutí online platby</title>
        <style></style>
    </head>
    <body marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <div id="wrapper" style="background-color:#f5f5f5;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:70px;padding-bottom:70px;padding-right:0;padding-left:0;-webkit-text-size-adjust:none !important;width:100%;" >
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <div id="template_header_image" style="width:600px;background-color:#000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;text-align:left;padding-top:16px;padding-bottom:16px;padding-right:0;padding-left:0;" >
                            <p style="margin-top:0;margin-bottom:0;" >
                                <img src="http://www.polagraph.cz/wp-content/themes/bronx/assets/img/e_polagraph-logo.png" style="border-style:none;max-width:120px;display:inline;font-size:14px;font-weight:bold;height:auto;line-height:100%;outline-style:none;text-decoration:none;text-transform:capitalize;margin-bottom:0;margin-left:36px;" />
                            </p>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container" style="background-color:#f5f5f5;" >
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Header -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_header" style="background-color:#38b3b1;color:#38b3b1, #202020, #ffffff;border-bottom-width:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;" >
                                        <tr>
                                            <td id="header_wrapper" style="padding-top:24px;padding-bottom:24px;padding-right:36px;padding-left:36px;display:block;" >
                                                <h1 style="font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-size:30px;font-weight:300;line-height:150%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;text-shadow:0 1px 0 ##dcdcdc;-webkit-font-smoothing:antialiased;color:#FFFFFF;" >Připomenutí online platby</h1>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- End Header -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Header -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_header_polagraph">
                                        <tr>
                                            <td>
                                                <img src="http://www.polagraph.cz/wp-content/themes/bronx/assets/img/polagraph.jpg" style="border-style:none;display:inline;font-size:14px;font-weight:bold;height:auto;line-height:100%;outline-style:none;text-decoration:none;text-transform:capitalize;margin-bottom:0;max-width:100%;width:100%;" />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- End Header -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Body -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                        <tr>
                                            <td valign="top" id="body_content" style="background-color:#FFFFFF;" >
                                                <!-- Content -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="padding-top:36px;padding-bottom:0;padding-right:36px;padding-left:36px;" >
                                                            <div id="body_content_inner" style="color:#737373;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-size:15px;line-height:150%;text-align:left;" >

                                                                <p style="margin-top:0;margin-bottom:16px;margin-right:0;margin-left:0;" >Dobrý den,</p>

                                                                <p style="margin-top:0;margin-bottom:16px;margin-right:0;margin-left:0;" >
                                                                    vaše objednávka tisku fotek není uhrazená.
                                                                </p>

                                                                <p style="margin-top:0;margin-bottom:16px;margin-right:0;margin-left:0;" >
                                                                    <a n:href="//:Front:Homepage:payment $order->id" style="color:#38b3b1;font-weight:normal;text-decoration:underline;" >Zaplatit online</a>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- End Content -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- End Body -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>