        <p style="margin-top:0;margin-bottom:16px;margin-right:0;margin-left:0;" >
            Dobrý den,
        </p>

        <p style="margin-top:0;margin-bottom:16px;margin-right:0;margin-left:0;" >
            zasíláme Vám daňový doklad k provedené platbě.
        </p>
