{block content}
     	<div class="head">
        	<h1 class="title">
        		Úprava kategorie materiálu
        	</h1>
        	<div class="clearfix"></div>
        </div>
        {control categoryForm}
{/block}
