{block content}

        <div class="container fs">
	      <div class="head">
	        <h1 class="card-title">Slider</h1>
	        <a class="btn btn-primary" n:href="add" n:if="$user->identity->role==9"><i class="fas fa-plus"></i> Přidat slide</a>
	        <div class="clearfix"></div>
	      </div>

      	  <div class="sortable" data-action="{link sort!}">
	      	{control slides}
          </div>
        </div>
{/block}
