{block content}
      
        <div class="span10">         
            
      <div class="content" style="clear: both">
        <h3 style="margin-bottom: 8px; display: block;">Správa jazyků</h3>
      </div>  


    <a class="btn btn-primary" n:href=":Admin:Languages:add"><i class="icon-plus icon-white"></i> Přidat jazyk</a>
    <br /> 

      {control languages}

          <!--Body content-->        
        </div>      
{/block}
