{block content}
     <div class="container fs">
     	<div class="head">
        	<h1 class="title">Editace administrátora</h1>
        	<div class="clearfix"></div>
        </div>
		{control adminForm}
	</div>
{/block}
