{block content}
     <div class="container fs">
     	<div class="head">
        	<h1 class="card-title">Změna hesla</h1>
        	<div class="clearfix"></div>
        </div>
		{control passwordForm}
	</div>
{/block}
